p{
 font-weight: bold;
 font-size: 120%;
    
}
.gol{
    
    width:200px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    border-color: red;
    color: white;
    
}

textarea{
    
    width: 30%;
}