
.main{
    display: flex;
    background-color:rgb(199, 250, 250);
    height: 70px;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}
ol{
    display: flex;
    
    
}
li{
    padding-right: 50px;
list-style-type: none;

    
    color: blue;
}
.second{
 height:440px;
 background-color: white;
 background-image: url(store.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.d{
    padding-top: 400px;
    padding-left: 28%;
    
}
input[type="button"]{
    border-radius: 20px;
    height:25px;
    width:180px;
    justify-content: center;
    color:white;
    background-color: blue;
    border-color: blue;
}

.third{
    background-color: black;
    color: white ;
    display:flex;
    font-weight: bold;
    height: 200px;
}
.info{
    padding-top: 1%;
    padding-left: 1%;

}


i{
    color: red;
   

}
.wow{
    padding-left: 20%;
    padding-top: 1%;
}
label{
    display:block;
}
.one{
    padding-left: 1%;
}

.left{
    font-size: 150%;
    
 }

 .left{
    font-size: 150%;
    
    
    
    }
    




